### Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os

### Importing dfs

In [2]:
path = r"C:\Users\dioog\02. Bloomberg Analysis"

In [3]:
print(path)

C:\Users\dioog\02. Bloomberg Analysis

In [4]:
df_orig = pd.read_csv(os.path.join(path, "02_Data", "Original data", "dataset_26nov.csv"))

### Exploring the data

In [5]:
df_orig.head()

,Ticker,Short Name,Market Cap,Rank(Current Market Cap),Sector,Prim Exch Nm,Country,Cntry of Incorp,Best Analyst Rating,52Wk High,...,03/02/2020,02/03/2020,01/04/2020,01/05/2020,01/06/2020,01/07/2020,03/08/2020,01/09/2020,01/10/2020,02/11/2020
0,AAPL US Equity,APPLE INC,2.045317e+12,1.0,Technology,NASDAQ GS,UNITED STATES,US,4.116279,137.98,...,77.17,74.70,60.23,72.27,80.46,91.03,108.94,134.18,116.79,108.77
1,ARAMCO AB Equity,SAUDI ARABIAN OI,1.887799e+12,2.0,Energy,Saudi Arabia,SAUDI ARABIA,SA,2.777778,10.32,...,9.05,8.74,8.13,8.42,8.76,8.72,8.80,9.40,9.53,9.12
2,MSFT US Equity,MICROSOFT CORP,1.642367e+12,3.0,Technology,NASDAQ GS,UNITED STATES,US,4.789474,232.86,...,174.38,172.79,152.11,174.57,182.83,204.70,216.54,227.27,212.46,202.33
3,AMZN US Equity,AMAZON.COM INC,1.571013e+12,4.0,Communications,NASDAQ GS,UNITED STATES,US,4.892857,3552.25,...,2004.20,1953.95,1907.70,2286.04,2471.04,2878.70,3111.89,3499.12,3221.26,3004.48
4,GOOGL US Equity,ALPHABET INC-A,1.202594e+12,5.0,Communications,NASDAQ GS,UNITED STATES,US,4.772727,1816.89,...,1482.60,1386.32,1102.10,1317.32,1434.87,1442.00,1482.76,1655.08,1487.90,1624.32

In [46]:
df_orig.tail()

,Ticker,Short Name,Market Cap,Rank(Current Market Cap),Sector,Prim Exch Nm,Country,Cntry of Incorp,Best Analyst Rating,52Wk High,...,03/02/2020,02/03/2020,01/04/2020,01/05/2020,01/06/2020,01/07/2020,03/08/2020,01/09/2020,01/10/2020,02/11/2020
4932,1357 JP Equity,NOMU-NE 225 INVS,2.757690e+09,4994.0,Funds,Tokyo,JAPAN,JP,0.000000,16.05,...,8.51,9.76,12.25,9.99,7.76,7.57,7.52,6.88,6.73,6.68
4933,SCHC US Equity,SCHWAB INTL SMAL,2.755676e+09,4996.0,Funds,NYSE Arca,UNITED STATES,US,0.000000,35.45,...,33.28,30.67,23.24,26.49,29.58,29.72,31.55,33.07,32.83,31.75
4934,SPMB US Equity,SPDR PORT MTGE B,2.755527e+09,4997.0,Funds,NYSE Arca,UNITED STATES,US,0.000000,27.18,...,26.25,26.46,26.62,26.79,26.81,26.72,26.74,26.64,26.55,26.49
4935,VNLA US Equity,JANUS HENDERSON,2.752932e+09,4998.0,Funds,NYSE Arca,UNITED STATES,US,0.000000,50.50,...,49.82,50.08,49.18,49.65,49.97,50.20,50.37,50.39,50.38,50.40
4936,011790 KS Equity,SKC CO LTD,2.751337e+09,4999.0,Industrial,Korea SE,SOUTH KOREA,KR,4.952381,88.30,...,45.22,43.99,30.39,40.48,48.03,50.45,64.47,78.18,71.36,65.13

In [47]:
df_orig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4937 entries, 0 to 4936
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Ticker                    4937 non-null   object
 1   Short Name                4937 non-null   object
 2   Market Cap                4937 non-null   float64
 3   Rank(Current Market Cap)  4937 non-null   float64
 4   Sector                    4937 non-null   object
 5   Prim Exch Nm              4937 non-null   object
 6   Country                   4937 non-null   object
 7   Cntry of Incorp           4937 non-null   object
 8   Best Analyst Rating       4824 non-null   float64
 9   52Wk High                 4937 non-null   float64
 10  52Wk Low                  4937 non-null   float64
 11  52Wk Low Dt               4937 non-null   object
 12  52Wk High Dt              4937 non-null   object
 13  1Y Tot Ret (%)            4937 non-null   float64
 14  02/12/2019                4937 non-null   float64
 15  01/01/2020                4937 non-null   float64
 16  03/02/2020                4937 non-null   float64
 17  02/03/2020                4937 non-null   float64
 18  01/04/2020                4937 non-null   float64
 19  01/05/2020                4937 non-null   float64
 20  01/06/2020                4937 non-null   float64
 21  01/07/2020                4937 non-null   float64
 22  03/08/2020                4937 non-null   float64
 23  01/09/2020                4937 non-null   float64
 24  01/10/2020                4937 non-null   float64
 25  02/11/2020                4937 non-null   float64
dtypes: float64(18), object(8)
memory usage: 1003.0+ KB

In [48]:
df_orig.shape

(4937, 26)

In [49]:
df_orig.describe()

,Market Cap,Rank(Current Market Cap),Best Analyst Rating,52Wk High,52Wk Low,1Y Tot Ret (%),02/12/2019,01/01/2020,03/02/2020,02/03/2020,01/04/2020,01/05/2020,01/06/2020,01/07/2020,03/08/2020,01/09/2020,01/10/2020,02/11/2020
count,4.937000e+03,4937.000000,4824.000000,4937.000000,4937.000000,4937.000000,4937.000000,4937.000000,4937.000000,4937.000000,4937.000000,4937.000000,4937.000000,4937.000000,4937.000000,4937.000000,4937.000000,4937.000000
mean,1.912620e+10,2477.893660,3.672289,187.105252,110.744805,26.113857,157.924908,162.346423,162.406332,155.608292,128.955536,137.347008,143.840826,143.171219,153.651491,163.968548,161.347606,157.008469
std,6.586437e+10,1434.490523,1.337234,5176.619658,3546.204029,93.391530,4870.501376,5005.822001,4957.054467,4792.217480,3920.732087,4088.317150,4122.498624,3998.485825,4428.810949,4837.975300,4719.880508,4542.147508
min,2.751337e+09,1.000000,0.000000,0.000000,0.000000,-77.790000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.071396e+09,1236.000000,3.363636,6.660000,2.830000,-7.190000,3.450000,3.720000,3.650000,3.760000,2.990000,3.430000,3.720000,4.030000,4.400000,4.680000,4.650000,4.680000
50%,6.752808e+09,2474.000000,4.052631,30.870000,13.210000,7.340000,21.600000,22.630000,22.270000,20.950000,15.810000,18.110000,20.120000,21.000000,22.570000,23.700000,23.510000,23.760000
75%,1.494602e+10,3714.000000,4.556666,84.720000,39.020000,34.270000,62.430000,64.190000,64.320000,60.060000,47.480000,53.500000,59.640000,60.430000,63.070000,66.490000,65.830000,66.090000
max,2.045317e+12,4999.000000,5.000000,350000.000000,239440.000000,2547.540000,330609.000000,339590.000000,334860.000000,324500.000000,261250.000000,273975.000000,275600.000000,267020.000000,298800.000000,327440.000000,318600.000000,306375.000000

## Data cleaning

### Mixed-Type Data

In [50]:
# finding mixed-type columns within dataframe
for col in df_orig.columns.tolist():
  weird = (df_orig[[col]].applymap(type) != df_orig[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_orig[weird]) > 0:
    print (col)

### Missing Values

In [51]:
# finding missing values within dataframe
df_orig.isnull().sum()

Ticker                        0
Short Name                    0
Market Cap                    0
Rank(Current Market Cap)      0
Sector                        0
Prim Exch Nm                  0
Country                       0
Cntry of Incorp               0
Best Analyst Rating         113
52Wk High                     0
52Wk Low                      0
52Wk Low Dt                   0
52Wk High Dt                  0
1Y Tot Ret (%)                0
02/12/2019                    0
01/01/2020                    0
03/02/2020                    0
02/03/2020                    0
01/04/2020                    0
01/05/2020                    0
01/06/2020                    0
01/07/2020                    0
03/08/2020                    0
01/09/2020                    0
01/10/2020                    0
02/11/2020                    0
dtype: int64

In [40]:
len(df_orig[df_orig["Best Analyst Rating"] == 0])

430

In [ ]:
# The column "Best Analyst Rating" has 113 missing values. This is not enough to exclude it. Imputation is not an option. 
# If necessary, in a later analysis stage, I could create a new variable that acts like a flag based on the missing value.

### Duplicates

In [52]:
# finding duplicates

df_dups = df_orig[df_orig.duplicated()]

In [53]:
df_dups

Empty DataFrame
Columns: [Ticker, Short Name, Market Cap, Rank(Current Market Cap), Sector, Prim Exch Nm, Country, Cntry of Incorp, Best Analyst Rating, 52Wk High, 52Wk Low, 52Wk Low Dt, 52Wk High Dt, 1Y Tot Ret (%), 02/12/2019, 01/01/2020, 03/02/2020, 02/03/2020, 01/04/2020, 01/05/2020, 01/06/2020, 01/07/2020, 03/08/2020, 01/09/2020, 01/10/2020, 02/11/2020]
Index: []

[0 rows x 26 columns]

In [23]:
# no duplicates found

### Exporting data

In [54]:
df_orig.to_csv(os.path.join(path, "02_Data", "Prepared data", "df_orig_checked.csv"))